<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>smap test</title>
        <link rel="stylesheet" href="/static/styles/style.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="shortcut icon" href="/static/resources/favicon.ico">
    </head>

    <body>
        <header>
        </header>

        <main>
            <div id="map-main" class="map"></div>
            <div class="tab-right tab-right-active ">
                <img href="#" class="info-btn info-btn-active" src="/static/resources/triangle_grey.svg"></a>
                <div class="info">
                    <div class="info-head">
                        <label class="info-town">Выберите город</label>
                    </div>
                    <nav class="info-list">
                        <br>
                        <div class="info-element">
                            <ul class="info-element-table">
                                <li><b>Нажмите на метку города, чтобы посмотреть его информацию</b></li>
                            </ul>
                            <!--<img class="info-hide-icon" alt="hide">-->
                        </div>
                    </nav>
                </div>
            </div>
            <div class="tab-left">
                <div class="filter-btn">
                    <p>Фильтры</p>
                    <img class="filter-btn-icon" src="/static/resources/triangle_grey.svg"> 
                </div>
                <div class="filter">
                    <ul class="filter-list">
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Год</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>
                                <div class="filter-setting">aasadsada</div>

                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Степень премии</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Область знания</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Премия</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Организация</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Город</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>ФИО</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter-option-btn">
                                <p>Достижение</p>
                                <img class="filter-option-btn-icon" src="/static/resources/triangle_white.svg"> 
                            </div>
                            <div class="filter-settings">
                                <div class="filter-settings-shadow"></div>
                                <div class="filter-setting">aasadsada</div>
                            </div>
                        </div>
                    </ul>
                    <div class="filter-apply">
                        <p>Применить</p>
                    </div>
                </div>
            </div>
            <!-- <div id="slider-range"></div> -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="/static/scripts/sliderController.js"></script>
            <script src="/static/scripts/menusController.js"></script>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=none&lang=ru_RU"></script>
            <script src="/static/scripts/dataController.js"></script>
            <script src="/static/scripts/mapController.js"></script>
            <script src="/static/scripts/listController.js"></script>
        </main>
        <footer>
        </footer>
    </body>
</html>