<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>StoryMap</title>
        <link rel="stylesheet" href="/static/styles/style_map.css">
        <link rel="stylesheet" href="/static/styles/style_overview.css">
        <link rel="stylesheet" href="/static/styles/style_tab_left.css">
        <link rel="stylesheet" href="/static/styles/style_tab_right.css">
        <link rel="stylesheet" href="/static/styles/style_loader.css">
        <link rel="stylesheet" href="/static/styles/style_about.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="shortcut icon" href="/static/resources/favicon.ico">
    </head>

    <body>
        <header>     
        </header>

        <main>
            <div id="map-main" class="map"></div>
            <img class="logo" src="/static/resources/globe.svg">
            <div class="about">
                <div class="about-menu">
                    <img class="about-logo" src="/static/resources/logo.svg">
                    <ul class="about-list">
                        <span class="about-el about-welcome">
                            Добро пожаловать на StoryMap!<br>
                            StoryMap - это цифровая карта лауреатов премий СССР, созданная с целью показать Екатеринбург-Свердловск как национально интеллектуальный центр промышленной эпохи.<br><br>
                            Далее Вы научитесь пользоваться сервисом.
                        </span>
                        <div class="about-el">
                            <img src="/static/resources/a-map.png">
                            <span>
                                В самом центре отображается главный элемент - карта. 
                                На ней располагаются метки, каждая из которых является городом, содержащим некоторое количество записей о полученных премиях.
                                Чтобы подробнее узнать о премии, следует кликнуть по метке.<br><br>
                                Также города могут собираться в кластеры, чтобы вам было удобнее просматривать карту. Каждый кластер можно открыть с помощью клика. Вам откроется список городов, которые вы можете выбрать.
                            </span>
                        </div>
                        <div class="about-el">
                            <span>
                                Справа находится панель информации. 
                                В ней будут отображаться все записи конкретного города.
                                У каждой записи есть подробная информация. Чтобы посмотреть ее, следует кликнуть по значку глаза.<br><br>
                                Если она вам мешает, есть возможность свернуть ее, нажав на треугольник слева от панели.
                            </span>
                            <img src="/static/resources/a-info.png">
                        </div>
                        <div class="about-el">
                            <img src="/static/resources/a-filter.png">
                            <span>
                                Слева находится кнопка фильтров, при нажатии на которую открывается меню настроек фильтров.
                                В каждой опции вы можете указать нужные вам значения.
                            </span>
                        </div>
                        <div class="about-el">
                            <span>
                                Для настроек, требующих ввод с клавиатуры, вам будут представлены подсказки, с помощью клика на которые можно дополнить желаемое значение.
                            </span>
                            <img src="/static/resources/a-input.png">
                        </div>
                        <div class="about-el">
                            <img src="/static/resources/a-apply.png">
                            <span>
                                Чтобы подтвердить фильтры, требуется либо нажать на галочку в конце панели, либо нажать на клавишу [Enter].
                            </span>
                        </div>
                        <div class="about-el">
                            <span>
                                Если вы хотите отменить выбранные фильтры, то это можно сделать с помощью опции "Сбросить фильтры".
                            </span>
                            <img src="/static/resources/a-clear.png">
                        </div>
                    </ul>
                    <div class="about-close">Хорошо, больше не показывать</div>
                </div>
            </div>
            <div class="loader-background">
                <div class="loader loader-map">
                    <div class='loader-els'>
                        <span class="loader-el"></span>
                        <span class="loader-el"></span>
                        <span class="loader-el"></span>
                        <span class="loader-el"></span>
                    </div>
                    <span class="loader-text">Секунду, ищем данные...</span>
                </div>
            </div>
            <div class="tab-right tab-right-active">
                <img href="#" class="info-btn info-btn-active" src="/static/resources/triangle_grey.svg"></a>
                <div class="info">
                    <div class="info-head">
                        <label class="info-town">Выберите город</label>
                    </div>
                    <nav class="info-list">
                        <br>
                        <div class="info-element">
                            <ul class="info-element-table">
                                <li><b>Нажмите на метку города, чтобы посмотреть его информацию</b></li>
                            </ul>
                            <!--<img class="info-hide-icon" alt="hide">-->
                        </div>
                    </nav>
                </div>
            </div>
            <div class="tab-left">
                <div class="filter-btn">
                    <p>Фильтры</p>
                    <img class="filter-btn-icon" src="/static/resources/triangle_grey.svg"> 
                </div>
                <div class="filter">
                    <ul class="filter-list">
                        <div class="filter-option" style="background-image: url(/static/resources/person.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">ФИО лауреата</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list">
                                        <div class="filter-settings-option">
                                            <input type="text" id="name" class="filter-input filter-input-name" autocomplete="off" placeholder="Введите что-нибудь...">
                                        </div>
                                    </ul>
                                    <div class="filter-input-hint filter-input-hint-name">
                                        <div class="filter-input-hint-head">
                                            <img src='/static/resources/lupa.svg'>
                                            <span>Подсказки</span>
                                        </div>
                                        <div class="filter-input-hint-name-inner filter-input-hint-inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-option" style="background-image: url(/static/resources/calendar.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">Диапазон лет</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list filter-years-list">
                                        <input type="text" id="start_year" class="filter-input filter-year" placeholder="Начало">
                                        <img src="/static/resources/year_arrow.svg" class="filter-year-icon">
                                        <input type="text" id="end_year" class="filter-input filter-year" placeholder="Конец">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter-option" style="background-image: url(/static/resources/subject.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">Область знаний</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list filter-knowledge" multiple>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter-option" style="background-image: url(/static/resources/premium.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">Название премии</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list filter-award" multiple>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter-option" style="background-image: url(/static/resources/degree.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">Степень</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list filter-rank">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter-option" style="background-image: url(/static/resources/organization.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">Организация</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list">
                                        <div class="filter-settings-option">
                                            <input type="text" id="name" class="filter-input filter-input-org" autocomplete="off" placeholder="Введите что-нибудь...">
                                        </div>
                                    </ul>
                                    <div class="filter-input-hint filter-input-hint-org">
                                        <div class="filter-input-hint-head">
                                            <img src='/static/resources/lupa.svg'>
                                            <span>Подсказки</span>
                                        </div>
                                        <div class="filter-input-hint-org-inner filter-input-hint-inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-option filter-clear" style="background-image: url(/static/resources/clear.svg);">
                            <div class="filter-expander">
                                <span class="filter-text">Сбросить фильтры</span>
                                <img src="/static/resources/triangle_white.svg">
                                <div class="filter-settings">
                                    <div class="filter-settings-shadow"></div>
                                    <ul class="filter-settings-list">
                                        <span class="filter-clear-text">Все настройки фильтров будут сброшены</span>
                                        <div class="filter-clear-btn">
                                            <img src="/static/resources/check.svg" class="filter-clear-btn-icon">
                                            <span>Принять</span>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <div class="filter-apply"></div>
                </div>
            </div>
            <!-- <div id="slider-range"></div> -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=none&lang=ru_RU"></script>
            <script data-main="/static/scripts/index.js" src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
            <!-- <script src="/static/scripts/init.js"></script> -->
        </main>
        <footer>
        </footer>
    </body>
</html>