.tab-left {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    position: fixed;
    top:0; left: 12px;
    pointer-events: none;
}

.filter-btn {
    cursor: pointer;
    pointer-events: all;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 140px; height: 40px;
    background-color: white;
    border-radius: 10px;
    border: solid 1.4pt #C3C3C3;
    transition: 0.2s;
}

.filter-btn-active {
    transition: 0.2s;
    border-bottom-left-radius: unset;
}

.filter-btn:hover {
    box-shadow: 0 0 3pt 2pt cornflowerblue;
}

.filter-btn p {
    text-decoration: none;
    align-self: center;
    font-size: 21px;
    margin: 0;
    font-family: "Bahnschrift";
}

.filter-btn-icon {
    display: inline-block;
    align-self: center;
    width: 14%;
    transform-origin: middle;
    transform: rotate(-90deg);
    transition: 0.3s;
}

.filter-btn-icon-active {
    transform: rotateZ(90deg);
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform-origin: top;
    /* transform: scale3d(1, 0, 1); */
    pointer-events: all;
    transition: 0.2s;
    z-index: -1;
    pointer-events: none;
}

.filter-active {
    pointer-events: all;
    opacity: 1;
    /* transform: scale3d(1, 1, 1); */
}

.filter-list {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: white;
    border: solid 1.4pt #C3C3C3;
    border-top: unset;
    z-index: -2;
}

.filter-option {
    cursor: pointer;
    display: block;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    background-color: #6FB1F6;
    border-radius: 50%;
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

.filter-option-open {
    /* background-color: white; */
}

.filter-option-open img {
    /* filter: invert(100%); */
}

.filter-expander {
    position: relative;
    display: inline-flex;
    left: 0;
    height: 100%;
    background-color: #6FB1F6;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    z-index: -1;
    transition: 
        all 0.1s,
        max-width 0.05s;
}

.filter-expander-open {
    transform-style: preserve-3d;
    padding-left: 55px;
    padding-right: 25%;
    border-top-left-radius: 50em;
    border-bottom-left-radius: 50em;
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em;
    min-width: 300%;
    max-width: 700%;
    overflow: visible;
}

.filter-text {
    white-space: nowrap;
    font-size: 120%;
    color: white;
}

.filter-expander > img {
    height: 60%;
    transition: transform 0.3s;
}

.filter-expander-active {
    /* border-bottom-right-radius: 0px; */
    /* background-color: white; */
    box-shadow: 0 0 3pt 3pt cornflowerblue;
}

.filter-expander-active span { 
    /* color: black; */
}

.filter-expander-active > img { 
    transform: rotate(180deg);
}

.filter-settings {
    cursor: default;
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 100%;
    width: calc(100% - 65px);
    max-height: 0;
    /* background-color: cornflowerblue; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    transition: 
        all 0.2s,
        opacity 0.05s;
}

.filter-settings-open {
    opacity: 1;
    visibility: visible;
    background-color: white;
    max-height: 500%;
}

.filter-settings-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filter-settings-shadow-active {
    box-shadow: 0 0 3pt 3pt cornflowerblue;
}

.filter-settings-list {
    cursor: default;
    margin: 0;
    gap: 5px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    overflow: auto;
    background-color: transparent;
    border: none;
    outline: none;
}

.filter-settings-list input[type="checkbox"] {
    display: none;
}

.filter-settings-list input[type="checkbox"]:checked + .filter-settings-option {
    background-color: #B4D6FA;
}

.filter-settings-option {
    background-color: #C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 10px;
    padding: 0;
}

.filter-settings-option label {
    cursor: pointer;
}

.filter-settings-option:not(input[type="text"]):hover {
    box-shadow: 0 0 0 1.5px #757575;
}

.filter-settings-option label {
    width: 95%;
    color: black;
    text-align: center;
}

.filter-input {
    font-size: 14px;
    height: 25px;
    width: 100%;
    border: solid 1.4pt #767676;
    border-radius: 10px;
    outline: none;
}

.filter-years-list {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

.filter-year {
    text-align: center;
    width: 55px;
}

.filter-year-icon {
    width: 15px;
}

.filter-input-hint {
    display: none;
    align-self: flex-start;
    margin-top: 20px;
    position: absolute;
    background-color: white;
    flex-wrap: wrap;
    width: 300px;
    top: 100%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 3pt 2pt cornflowerblue;
}

.filter-input-hint-active {
    display: flex;
}

.filter-input-hint-head {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 32px;
    border-bottom: solid 2px #C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.filter-input-hint-head img {
    height: 50%;
}

.filter-input-hint-inner span:hover {
    background-color: #E1E1E1;
}

.filter-input-hint-head span {
    color: #767676;
}

.filter-input-hint-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-input-hint-inner span {
    cursor: pointer;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.filter-clear {
    background-color: #757575;
}

.filter-clear .filter-expander {
    background-color: #757575;
}

.filter-clear .filter-settings-shadow-active {
    box-shadow: 0 0 3pt 3pt #C3C3C3;
}

.filter-clear .filter-expander-active {
    box-shadow: 0 0 3pt 3pt #C3C3C3;
}

.filter-clear-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    outline: solid 2px #C3C3C3;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.filter-clear-btn:hover {
    background-color: #CB4646;
}

.filter-clear-text {
    text-align: center;
    color: black;
    font-size: 15px;
}

.filter-clear-btn-icon {
    width: 20px;
    filter: invert(0.5);
}

.filter-clear-btn:hover .filter-clear-btn-icon {
    filter: invert(1);
}

.filter-clear-btn span {
    color: #7f7f7f;
    font-size: 15px;
}

.filter-clear-btn:hover span {
    color: white;
}

.filter-apply {
    cursor: pointer;
    margin-top: 3px;
    width: 30%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: solid 1.4pt #757575;
    background-image: url(/static/resources/check-blue.svg);
    background-size: 29px 29px;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    transition: 0.3s;
}

.filter-apply:hover {
    background-color: rgb(240, 236, 236);
}

/* .chosen {
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: -5;
}

.chosen label {
    background-color: #6FB1F6;
}

.chosen output {
    margin-left: 10px;
    background-color: #C3C3C3;
} */

/* .filter-settings-list option {
    width: 100%;
    padding: 0;
    align-self: center;
    text-align: center;
} */
